@use "sass:map";
@use "../common/variables" as vars;
@use "../common/mixins" as mix;

.xh-button-group {
  @include mix.use-flex(row);
  vertical-align: middle;

  .xh-button {
    position: relative;

    // 移除相邻按钮的重叠边框
    &:not(:first-child) {
      margin-left: -1px;
    }

    // 圆角处理
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    // 交互状态
    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    &.is-disabled {
      z-index: 0;
    }
  }

  // 垂直排列
  &.is-vertical {
    flex-direction: column;

    .xh-button {
      &:not(:first-child) {
        margin-left: 0;
        margin-top: -1px;
      }

      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  // 圆角样式
  &.is-round {
    .xh-button {
      &:first-child {
        border-radius: map.get(vars.$border-radius, "round") 0 0 map.get(vars.$border-radius, "round");
      }

      &:last-child {
        border-radius: 0 map.get(vars.$border-radius, "round") map.get(vars.$border-radius, "round") 0;
      }
    }

    &.is-vertical {
      .xh-button {
        &:first-child {
          border-radius: map.get(vars.$border-radius, "round") map.get(vars.$border-radius, "round") 0 0;
        }

        &:last-child {
          border-radius: 0 0 map.get(vars.$border-radius, "round") map.get(vars.$border-radius, "round");
        }
      }
    }
  }
}

// 修改按钮组中按钮的样式
.xh-button.is-in-group {
  &.is-plain {
    &:not(:first-child) {
      border-left-color: var(--xh-button-border-color);
    }
  }
}
